

#member-grid{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    margin: 2%;
    grid-gap:2px;
    width: auto;
}

@media (max-width: 700px) {
    #member-grid{
        grid-template-columns: auto auto auto auto;
    }
}

@media (max-width: 600px) {
    #member-grid{
        grid-template-columns: auto auto auto;
    }
} 

@media (max-width: 500px) {
    #member-grid{
        grid-template-columns: auto auto;
    }
} 


.member{
    width:auto;
    position: relative;
    border-radius: 3px;
    border: 2px #777 solid;
    transition: 200ms
}

.unselected{
    filter: opacity(40%);
    transition: 150ms;
}
.selected{
    border-color: #50df2c;
    filter: none;
    transition: 150ms;
}

.member:after{
    content: "";
    display: block;
    padding-bottom: 100%;
}

.member:hover{
    transform: scale(1.1);
    z-index: 2;
    box-shadow: 5px 10px 0px 0px #0004;
    cursor: pointer;
    filter: none;
    transition: 200ms
}

.member:active{
    transform: scale(1.2);
    z-index: 2;
    box-shadow: 5px 10px 0px 3px #0004;
    cursor: pointer;
    filter: none;
    transition: 50ms

}

.member-content{
    position: absolute;
    width: 100%;
    text-align: center;
    padding-top: 2px;
}

.click-message{
    text-align: center;
    color: #555;
    cursor: pointer;
}

.alert{
    bottom: 10%;
    width: 75%;
    position: fixed;
    left: 50%;
    margin-left: -37.5%;
    padding-top: .5em;
    padding-bottom: .5em;
    text-align: center;
    border-radius: 3px;
    border: 2px #999 solid;
    background: #fff;
    display: none;
    z-index: 9;
}

.token{
    margin: 2% auto;
    width: 100%;
    text-align: center;
}

.fronters{
    text-align: center;
}


.switch{
    display: none;
    position: fixed;
    float: right;
    bottom: 20px;
    right: 20px;
    z-index: 10;
}
.switch button{
    background-color: #87e76f;
    color: #222;
    border-color: #2225;
}

.switchOut{
    text-align: center;
    background-color: hsl(0, 72.1%, 91.6%);
    color: #bd1111;
    cursor: pointer;
}
.switchOut .member-content{
    padding: 19% 0;
    font-size: 1.8em;
}

.switchOut.unselected{
    visibility: hidden;
    transition-duration: 50ms;
}